<%= turbo_frame_tag "address_form", src: root_path, target: "_top" %>
<p>Location: <%= params[:address] %></p>
<p>Current Temperature: <%= @forecast[:current_temperature] %></p>

<table>
  <tr>
    <th>Day</th>
    <th>High</th>
    <th>Low</th>
  </tr>
  <% @forecast[:forecast].each do |day, f| %>
    <tr>
      <td><%= day %></td>
      <td><%= f[:max] %></td>
      <td><%= f[:min] %></td>
    </tr>
  <% end %>
</table>
